!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet" href=url_for('static', filename='css/bootstrap.min.css'))
        link(rel="stylesheet" href=url_for('static', filename='css/auth.css'))
        title Sign Up
    body
        main
            - var messages = get_flashed_messages()
            if messages
                ul(class="flashes")
                    for message in messages
                        li= message
            .container
                .block
                    h1 Sign Up
                    p Already have account? 
                        a(href=url_for('.signin'))
                            | Sign in!
                    form(action="signup", method="post")
                        .inputs-group.email-group
                            img(class="icon", src=url_for('static', filename='img/icons/svg/email.svg'))
                            label(for="register_regSender_email")
                                | Email 
                            input(class="form-control", type="email", id="register_regSender_email", name="register_regSender_email", required)
                        .inputs-group.username-group
                            img(class="icon", src=url_for('static', filename='img/icons/svg/account.svg'))
                            label(for="register_regSender_username")
                                |Username
                            input(class="form-control", type="text", id="register_regSender_username", name="register_regSender_username", required)
                        .inputs-group.password-group
                            img(class="icon icon-pass", src=url_for('static', filename='img/icons/svg/lock.svg'))
                            label(for="register_regSender_password")
                                | Password
                            #input_container
                                input(class="form-control", type="password", id="register_regSender_password", name="register_regSender_password", required)
                                img.icon.eye(id="input_icon", onclick="eyeHideShow('#register_regSender_password', '#register_regSender_rePassword')",src=url_for('static', filename='img/icons/svg/eye.svg'))
                        .inputs-group.password-group
                            img(class="icon icon-pass", src=url_for('static', filename='img/icons/svg/lock.svg'))
                            label(for="register_regSender_rePassword")
                                | Repeat password
                            #input_container2
                                input(class="form-control", type="password", id="register_regSender_rePassword", name="register_regSender_rePassword", required)
                                img.icon.eye(id="input_icon2", onclick="eyeHideShow('#register_regSender_password', '#register_regSender_rePassword')", src=url_for('static', filename='img/icons/svg/eye.svg'))
                        button(class="btn btn-primary", type="submit")
                            | Sign Up
        script(src="https://code.jquery.com/jquery-3.6.0.min.js", integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=", crossorigin="anonymous")
        script(src=url_for('static', filename='js/tools/eyeHideShow.js'))