!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href=url_for('static', filename='css/bootstrap.min.css'))
        link(rel="stylesheet" href=url_for('static', filename='css/auth.css'))
        title Sign Up
    body
        main
            - var messages = get_flashed_messages()
            if messages
                ul(class="flashes")
                    for message in messages
                        li= message
            div(class="container")
                div(class="block")
                    h1 Sign Up
                    p Already have account? 
                        a(href=url_for('.signin'))
                            | Sign in!
                    form(action="signup", method="post")
                        div(class="inputs-group email-group")
                            img(class="icon", src=url_for('static', filename='img/icons/svg/email.svg'))
                            label(class="form-label", for="email")
                                | Email 
                            input(class="form-control", type="email", id="email", name="email", required)
                        div(class="inputs-group username-group")
                        img(class="icon", src=url_for('static', filename='img/icons/svg/account.svg'))
                        label(class="form-label", for="username")
                            |Username
                        input(class="form-control", type="text", id="username", name="username", required)
                        div(class="inputs-group password-group")
                            img(class="icon icon-pass", src=url_for('static', filename='img/icons/svg/lock.svg'))
                            label(class="form-label", for="password")
                                | Password
                            div(id="input_container")
                                input(class="form-control", type="password", id="password", name="password", required)
                                img(id="input_icon", class="icon", src=url_for('static', filename='img/icons/svg/eye.svg'))
                        div(class="inputs-group password-group")
                            img(class="icon icon-pass", src=url_for('static', filename='img/icons/svg/lock.svg'))
                            label(class="form-label", for="repass")
                                | Repeat password
                            div(id="input_container2")
                                input(class="form-control", type="password", id="repass", name="repass", required)
                                img(id="input_icon2", class="icon", src=url_for('static', filename='img/icons/svg/eye.svg'))
                        button(class="btn btn-primary", type="submit")
                            | Sign In
        script(src=url_for('static', filename='js/bootstrap.min.js'))